.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#myCarousel {
	margin-top: 5.5% !important;
}

.myform {
	padding-right:40px;
}

.topx {
	margin-top:100px;
}

.greentitle p {
	background-color:#008787;
	padding: 2px 5px;
	margin:75px;
	color:#FFF;
	border-radius:5px;
}
